In [18]:
#Question 1: User Data Collector
user = {
    "name" : input("Enter your name :"),
    "age" : int(input("Enter your age :")),
    "email" : input(("Enter your email :")),
    "fav_num" : int(input("Enter your favourite number :"))
}

if "@" in user["email"] and "." in user["email"]:
    print(f"Name: {user['name']}, Age: {user['age']} , Email: {user['email']} , Favourite_number: {user['fav_num']}")
else:
  print("Please type correct email")

Enter your name :Hammad Nazir
Enter your age :23
Enter your email :fa21-bcs-048@cuiatk.edu.pk
Enter your favourite number :8
Name: Hammad Nazir, Age: 23 , Email: fa21-bcs-048@cuiatk.edu.pk , Favourite_number: 8

In [33]:
#Question 2: Even or Odd?
number = int(input("Enter a number to cheak even or odd : "))

def is_even(num):
    if(number % 2 == 0):
       print("Number is even")
    else:
       print("Number is odd")
is_even(number);

Enter a number to cheak even or odd : 33
Number is odd

In [53]:
#Question 3: Temperature Converter

def convert_temperature(temp,scale):
  if(scale=='c'):
    converted_temperature = (temp * 9/5) + 32
    print("Fahrenheit Temperature of ",temp," is :", converted_temperature)
  elif(scale=='f'):
    converted_temperature = (temp-32) * 5/9
    print("Celsius Temperature of ",temp,"is :", converted_temperature)
  else:
    print("Inavalid scale input")

temperature_input = float(input("Enter the temperature: "))
scale_input= input("Enter the scale of temperature: ")
convert_temperature(temperature_input,scale_input)

Enter the temperature: 213
Enter the scale of temperature: c
Fahrenheit Temperature of  213.0  is : 415.4

In [62]:
#Question 4: Finding Min & Max
nums = [int(input(f"Enter number {i+1}: ")) for i in range(5)]
print(f"Max: {max(nums)}, Min: {min(nums)}")

Enter number 1: 12
Enter number 2: 32
Enter number 3: 21
Enter number 4: 43
Enter number 5: 13
Max: 43, Min: 12

In [63]:
# Question 5: Student Data Manager
students = {input("Enter name: "): (int(input("Enter age: ")), input("Enter grade: ")) for _ in range(3)}
print(students)

Enter name: Hammad
Enter age: 23
Enter grade: A
Enter name: Haseeb
Enter age: 21
Enter grade: B
Enter name: Ahmed
Enter age: 12
Enter grade: C
{'Hammad': (23, 'A'), 'Haseeb': (21, 'B'), 'Ahmed': (12, 'C')}

In [68]:
#Question 6: Inventory Management System
def update_inventory(inv, item, qty):
    inv[item] = max(0, inv.get(item, 0) + qty)
    return inv

inventory = {"apple": 10, "banana": 5, "orange": 8, "grape": 3, "mango": 7}
for _ in range(3):
    item = input("Enter item name: ")
    qty = int(input("Enter quantity: "))
    update_inventory(inventory, item, qty)
print(inventory)

Enter item name: apple
Enter quantity: 12
Enter item name: banana
Enter quantity: 21
Enter item name: mango
Enter quantity: 2
{'apple': 22, 'banana': 26, 'orange': 8, 'grape': 3, 'mango': 9}