### **Iterators and Iterables in Python**

List Values

In [ ]:
My_List = [10,21,30,41,50,60,70,80,90]

1) Iterator

In [ ]:
print(iter(My_List))

<list_iterator object at 0x798249407250>

2) Using Next() function

In [ ]:
print(next(iter(My_List)))

10

3) Looping through the list

In [ ]:
for iterator in My_List:
  print(iterator)

10
20
30
40
50
60
70
80
90

## **Generators**

Using yield keyword instead of return

In [ ]:
def even_no():
  for i in My_List:
    if i % 2 == 0:
      yield i

generator = even_no()

for num in generator:
  print(num)

10
30
50
60
70
80
90

### **Using Generators for CSV Data**

In [30]:
import pandas as pd

read = pd.read_csv("/content/sample_data/california_housing_train.csv")

In [39]:
def value():
    for val in read["median_house_value"]:
        if val > 50000:
            yield val

print(list(value())[:5])

[66900.0, 80100.0, 85700.0, 73400.0, 65500.0]