In [ ]:
def evaluate_temp(temp):
  massage = "Normal Temperature"
  if temp > 98:
   massage = "Fever"
  return massage

In [ ]:
print (evaluate_temp(99))

Fever

In [ ]:
def evaluate_temp_with_if(temp):
  if temp<=98 :
    massage = "Normal Temperature"
  else:
    massage = "Fever"
  return massage

In [ ]:
print (evaluate_temp_with_if(99))

Fever

In [ ]:
def evaluate_temp_with_elif(temp):
  if temp<98:
    massage = "Lower Temperature"
  elif temp==98:
    massage = "Normal Temperature"
  else:
    masage = "Fever"

In [ ]:
print(evaluate_temp_with_elif(99))

None

In [16]:
def tax_calc(earnings):
  if earnings < 10000:
    tax_owed = .25 * earnings
  else:
    tax_owed = .30 * earnings
  return tax_owed

tax01 = tax_calc(20000)
tax02 = tax_calc(5000)
print(tax01)
print(tax02)

6000.0
1250.0

In [17]:
def get_dose(weight):
  if weight < 5.2:
    dose = 10
  elif weight < 6.2:
    dose = 20
  elif weight < 7.2:
    dose = 30
  elif weight < 8.2:
    dose = 40
  elif weight < 9.2:
    dose = 50
  else:
    dose = 100
  return dose

print (get_dose(7))

30

Intro to Lists

In [20]:
flowers = "pink primrose,hard-leaved pocket orchid,canterbury bells,sweet pea,english marigold,tiger lily,moon orchid,bird of paradise,monkshood,globe thistle"

print(type(flowers))
print(flowers)

<class 'str'>
pink primrose,hard-leaved pocket orchid,canterbury bells,sweet pea,english marigold,tiger lily,moon orchid,bird of paradise,monkshood,globe thistle

In [21]:
flowers_list = ["pink primrose", "hard-leaved pocket orchid", "canterbury bells", "sweet pea", "english marigold", "tiger lily", "moon orchid", "bird of paradise", "monkshood", "globe thistle"]
print (type(flowers_list))
print(flowers_list)

<class 'list'>
['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'globe thistle']

In [22]:
print(len(flowers_list))

10

In [23]:
print("First entry : " , flowers_list[0])

First entry :  pink primrose

In [24]:
print("Second Entry : " , flowers_list[1])

Second Entry :  hard-leaved pocket orchid

In [28]:
print("Last Entry : " , flowers_list[-1])

Last Entry :  globe thistle

In [29]:
print("First three entries : " , flowers_list[:3])
print("Last three entries : " , flowers_list[-3:])

First three entries :  ['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells']
Last three entries :  ['bird of paradise', 'monkshood', 'globe thistle']

In [30]:
flowers_list.remove("monkshood")

In [31]:
print(flowers_list)

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'globe thistle']

In [32]:
flowers_list.append("New Flower")

In [33]:
print(flowers_list)

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'globe thistle', 'New Flower']

In [34]:
numbers_list = [1,2,3,4,5,6,7,8,9]

print(len(numbers_list))

9

In [39]:
print("Minimum value in list is : " , min(numbers_list))

Minimum value in list is :  1

In [40]:
print("Maximum value in list is : " , max(numbers_list))

Maximum value in list is :  9

In [41]:
print(sum(numbers_list))

45

In [43]:
print(sum(numbers_list[:3])/5)

1.2